@page "/"
<!-- ======= Intro Section ======= -->
<BlazorStrap.BSCarousel NumberOfItems="@items.Count" Fade="true" style="width:100%;">
    <BlazorStrap.BSCarouselIndicators NumberOfItems="@items.Count" />
    <div class="carousel-inner">
        @for (int i = 0; i < items.Count; i++)
        {
            Item item = items[i];
        <BlazorStrap.BSCarouselItem src="@item.Source" alt="@item.Alt" ActionLink="@items[i].ActionLink" ActionLinkTarget="@items[i].ActionLinkTarget" style="width:100%; height:700px;/*For Hero picture Sizing*/">

            <BlazorStrap.BSCarouselCaption style="color:red; font-family:'Bell MT'; font-size:20px;" HeaderText="@item.Header"></BlazorStrap.BSCarouselCaption>
            <BlazorStrap.BSCarouselCaption CaptionText="@item.Caption" style="color:blue; font-size:30px; padding-bottom:100px;" />
            <!--*
            <BlazorStrap.BSCarouselCaption CaptionText ="@item.Button" style="color:green; width:150px; margin-bottom:200px; margin-left:30%; background-color: #4CAF50; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; border-radius: 12px;">Button</BlazorStrap.BSCarouselCaption>
            -->
        </BlazorStrap.BSCarouselItem>
         

        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count"  />
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count" />
</BlazorStrap.BSCarousel>
<!-- ======= Intro Section ======= -->
<main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 box box-bg">
                    <h4 class="title"><a href="">MONDAY</a></h4>
                    <p class="description">
                        10am-noon - One New Man<br />
                        1-3pm - Closed Watch<br />
                        5-6:30pm - Worship & Tongues<br />
                        7-9pm - Israel/Middle East
                    </p>
                </div>

                <div class="col-lg-2 box">
                    <h4 class="title"><a href="">TUESDAY</a></h4>
                    <p class="description">
                        10am-noon - Pray for Nations<br />
                        12-1pm - Noon Worship<br />
                        2-4pm - Worship & The Word
                    </p>
                </div>

                <div class="col-lg-2 box box-bg">
                    <h4 class="title"><a href="">WEDNESDAY</a></h4>
                    <p class="description">
                        6:30-7:30am - Aliyah<br />
                        10am-noon - Worship/Sanctity of Life<br />
                        12-1pm - Businesses' Watch<br />
                        1-3pm - Persecuted Church<br />
                        7-9pm - City & Church
                    </p>
                </div>
                <div class="col-lg-2 box">
                    <h4 class="title"><a href="">THURSDAY</a></h4>
                    <p class="description">
                        1-3pm - Pray for the Family<br />
                        7-9pm - Revival
                    </p>
                </div>
                <div class="col-lg-3 box box-bg">
                    <h4 class="title"><a href="">FRIDAY</a></h4>
                    <p class="description">
                        7-8:30am - Unto Him<br />
                        10am-12:30pm - New Canadians<br />
                        12:30-1:30pm - Worship hour<br />
                        1:30-3:30pm - Worship & Prayer
                    </p>
                </div>

            </div>
        </div>
    </section><!-- End Featured Services Section -->
</main>
@code {
    int i = 0;
    IList<Item> items = new List<Item>
{
       new Item {
           Source = "/img/slide-1.jpg",
           Alt ="First Slide",
           Caption = "​​the fire must be kept burning on the altar continuously; it must not go out ...",
           Header = "Leviticus 6:13",
           //ActionLink = "link here/",
           ActionLinkTarget = "_blank",
           Button = "Watch Live Service"
       },
       new Item {
           Source = "/img/slide-2.jpg",
           Alt ="Second Slide",
           Caption = "​​For I know the plans I have for you,” declares the LORD, “plans to prosper you and not to harm you, plans to give you hope and a future.",
           Header = "Jeremiah 29:11",
          // ActionLink = "link here/",
           ActionLinkTarget = "_blank",
           Button = "Watch Live Service-2"
       },
       new Item {
           Source = "/img/slide-3.jpg",
           Alt ="Third Slide",
           Caption = "So do not fear, for I am with you; do not be dismayed, for I am your God. I will strengthen you and help you; I will uphold you with my righteous right hand.",
           Header = "Isaiah 41:10",
          // ActionLink = "link here/",
           ActionLinkTarget = "_blank",
           Button = "Watch Live Service-3"

       }

   };
    class Item
    {
        public string Button { get; set; }
        public string Source { get; set; }
        public string Alt { get; set; }
        public string Caption { get; set; }
        public string Header { get; set; }
        public string ActionLink { get; set; }
        public string ActionLinkTarget { get; set; }
    }
}